<a href="https://colab.research.google.com/github/brauliomarcalupo/Inteligencia-de-Negocios/blob/main/ETL1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install mysql.connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 70.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp38-cp38-linux_x86_64.whl size=247965 sha256=9f27fd339155936996df202e3ca3fbf9e435bc7abb1adfedf4a70b237b25d29d
  Stored in directory: /root/.cache/pip/wheels/57/e4/98/5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [10]:
import pandas as pd
import mysql.connector

In [2]:
#extract 
url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv'
df = pd.read_csv(url)

In [3]:
print(df)

   Month   "1958"   "1959"   "1960"
0    JAN      340      360      417
1    FEB      318      342      391
2    MAR      362      406      419
3    APR      348      396      461
4    MAY      363      420      472
5    JUN      435      472      535
6    JUL      491      548      622
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

In [7]:
#transform
df['Suma'] = df[' "1958"'] + df[' "1959"'] + df[' "1960"']

In [8]:
print(df)

   Month   "1958"   "1959"   "1960"  Suma
0    JAN      340      360      417  1117
1    FEB      318      342      391  1051
2    MAR      362      406      419  1187
3    APR      348      396      461  1205
4    MAY      363      420      472  1255
5    JUN      435      472      535  1442
6    JUL      491      548      622  1661
7    AUG      505      559      606  1670
8    SEP      404      463      508  1375
9    OCT      359      407      461  1227
10   NOV      310      362      390  1062
11   DEC      337      405      432  1174