<a href="https://colab.research.google.com/github/brauliomarcalupo/Inteligencia-de-Negocios/blob/main/ETL2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#extract
url = 'https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv'
df = pd.read_csv(url)

In [3]:
print(df)

   Month   "1958"   "1959"   "1960"
0    JAN      340      360      417
1    FEB      318      342      391
2    MAR      362      406      419
3    APR      348      396      461
4    MAY      363      420      472
5    JUN      435      472      535
6    JUL      491      548      622
7    AUG      505      559      606
8    SEP      404      463      508
9    OCT      359      407      461
10   NOV      310      362      390
11   DEC      337      405      432

In [4]:
#transform
df['Promedio'] = (df[' "1958"'] + df[' "1959"'] + df[' "1960"'])/ 3
df = df.dropna()
df = df.rename(columns = {'"1958"' : 'Año 1958', '"1959"' : 'Año 1959','"1960"' : 'Año 1960'})

In [5]:
print(df)

   Month   "1958"   "1959"   "1960"    Promedio
0    JAN      340      360      417  372.333333
1    FEB      318      342      391  350.333333
2    MAR      362      406      419  395.666667
3    APR      348      396      461  401.666667
4    MAY      363      420      472  418.333333
5    JUN      435      472      535  480.666667
6    JUL      491      548      622  553.666667
7    AUG      505      559      606  556.666667
8    SEP      404      463      508  458.333333
9    OCT      359      407      461  409.000000
10   NOV      310      362      390  354.000000
11   DEC      337      405      432  391.333333

In [6]:
df.to_csv('datos_viajes.csv', index = False)